# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# MacOS
.DS_Store

# Data (do NOT commit raw personal data)
data/raw/
